@tailwind base;
@tailwind components;
@tailwind utilities;

#popup {
    z-index: 1000;
    max-width: 90%;
    width: 300px;
}
#popup.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}
#popup.success {
    background-color: #4CAF50;
    color: white;
}
#popup.error {
    background-color: #F44336;
    color: white;
}

